@model _2021_2c_Clase_3_MVC.Servicios.Zodiaco.Signo;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
}


<h1>Tu signo es: <a href="@Model.Url">@Model.Nombre</a></h1>